:root {
  --main-color: #212121;
  --blue-color: #2196f3;
  --gray-color: rgba(255, 255, 255, 0.6);
  --dark-gray-color: #2f303a;
  --white-color: #f5f4fa;
  --pure-white-color: #fff;
  --light-grey-color: rgba(117, 117, 117, 1);
  --border-color: rgba(236, 236, 236, 1);
  --button-color: rgba(245, 244, 250, 1);
  --icon-grey-color: rgba(175, 177, 184, 1);
}

body {
  background-color: var(--pure-white-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.page {
  justify-content: center;
  width: 1600px;
  margin: 0 auto;
}

.page a:focus {
  outline: none;
}

.page a:visited {
  color: none;
}

.container {
  width: 1200px;
  padding: auto;
  padding: 0px 215px 0px 215px;
}

.section,
.our-strengths {
  padding-bottom: 94px;
  padding-top: 94px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.container-navigation {
  width: 1600px;
  border-bottom: 1px solid var(--border-color);
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: var(--blue-color);
  outline: none;
}
.navigation-list {
  display: flex;
  list-style: none;
  gap: 46px;
  border: 0px;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation a {
  text-decoration: none;
  color: var(--main-color);
}

.navigation-logo {
  margin: 24px 93px 25px 0px;
}

.link-phone-mail {
  display: flex;
  list-style: none;
  color: var(--light-grey-color);
  gap: 30px;
  margin: 32px 12px 32px 305px;
}
.link-phone-mail a:focus,
.link-phone-mail a:hover {
  color: var(--blue-color);
}

.icon-mail :hover,
.icon-smartphone :hover {
  fill: var(--blue-color);
}

.icon-smartphone {
  width: 30px;
  height: 16px;
}

.link-phone {
  width: 130px;
  gap: none;
}

.link-mail {
  width: 161px;
}

.link-phone-mail a {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
  letter-spacing: 2%;
  height: 16px;
}

.banner {
  background-color: var(--dark-gray-color);
  height: 600px;
  background-image: url('../images/background.jpg');
  background-image: linear-gradient(to top black);
}

.title-solutions {
  color: var(--pure-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0px 237px;
  padding-top: 106px;
}

.order-button {
  color: var(--pure-white-color);
  background-color: var(--blue-color);
  margin: 30px 485px 200px 485px;
  padding: 10px 41px 10px 41px;
  width: 200px;

  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  background-color: var(--button-color);
  padding: 25px 100px;
  width: 270px;
  height: 120px;
}
.our-strengths-list {
  display: flex;
  padding-left: 0px;
  padding-bottom: 94px;
  gap: 30px;
  background-color: var(--pure-white-color);
  list-style: none;
}

.our-strengths-list-title {
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
}

.our-strengths-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.71;
  font-size: 14px;
  width: 270px;
}

.our-job {
  background-color: var(--pure-white-color);
}

.our-job-title {
  color: var(--main-color);
  margin: 0px 409px 50px 409px;
  line-height: 1.17;
  font-size: 36px;
  font-weight: 700;
  width: 352px;
}

.our-job-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}

.team {
  background-color: var(--white-color);
}

.team-title {
  color: var(--main-color);
  margin: 0px 480px 50px 480px;
  font-size: 36px;
  font-weight: 700;
  width: 210px;
}

.team-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}

.team-list-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 270px;
  text-align: center;
  background-color: var(--pure-white);
  text-align: center;
}

.team-list-item {
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: var(--pure-white-color);
}

.team-list-title {
  margin: 0px;
  padding-top: 30px;
  line-height: 1.17;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.17;
  font-size: 16px;
  text-align: center;
  padding-bottom: 16px;
}

.team-list-social-links {
  width: 206px;
  height: 44px;

  margin: 16px 32px 0px;
  justify-content: center;
  display: flex;
  padding: 0;
  list-style: none;
}

.icons-ring {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: var(--social-icons);
}

.icons-ring:hover,
.icons-ring:focus {
  background-color: var(--blue-color);
  color: var(--pure-white);
}
.icons-our-team use:hover,
.icons-our-team use:focus {
  fill: var(--pure-white);
}

.icons-our-team {
  width: 20px;
  height: 20px;

  fill: var(--light-grey-color);
  fill: var(--color1);
}

.our-clients-title {
  line-height: 1.17;
  font-weight: 700;
  font-size: 36px;
  width: 201px;
  height: 42px;
  text-align: center;
  margin: 0px 483px 50px 486px;
}
.our-clients-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.icon-yaco,
.icon-brand,
.icon-company,
.icon-company-tag-line-here,
.icon-company-tag-line,
.icon-foster-peter {
  width: 106px;
  height: 60px;
}

.our-clients-list-item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-grey-color);
}

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.address-bottom {
  background-color: var(--dark-gray-color);
  color: var(--pure-white-color);
  padding: 60px 0px 60px 0px;
  font-size: 14px;
  display: flex;
}

.address-bottom a {
  color: var(--pure-white-color);
  text-decoration: none;
}

.address-logo {
  margin: 60px 171px 161px 0px;
}

.address-bottom-span {
  gap: 20px;
}

.address-link-phone-mail a {
  color: var(--gray-color);
  line-height: 1.17;
  list-style: none;
  font-size: 14px;
}

.address-link-phone-mail {
  list-style: none;
  gap: 9px;
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}

.address-link-phone-mail a:focus,
.address-link-phone-mail a:hover {
  color: var(--blue-color);
}

.join-us {
  display: flex;
  display: block;
  justify-content: center;
  width: 206px;
  margin-left: 70px;
  padding-top: 12px;
}

.join-us-title {
  color: var(--pure-white);
  width: 113px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.icons-join-us {
  fill: var(--pure-white);
  width: 20px;
  height: 20px;
}

.footer-social-links {
  width: 206px;
  height: 44px;

  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.icons-ring-bottom {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.icons-join-us {
  fill: var(--pure-white);
}

.icons-ring-bottom:hover,
.icons-ring-bottom:focus {
  background-color: var(--blue-color);
}

.logo-icon:hover,
.logo-icon:focus {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.logo-icon {
  color: var(--icon-grey-color);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-grey-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*portfolio*/

.products-list {
  display: flex;
  padding-left: 0px;
  width: 1170px;
  flex-wrap: wrap;
  margin: 0px 30px 0px 30px;
  gap: 30px;
  list-style: none;
}

.products-list-photo {
  width: 370px;
  margin-bottom: 30px;
  border: 1px solid var(--border-cards);
  padding-bottom: 20px;
  cursor: pointer;
}

.products-list-photo:hover,
.products-list-photo:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box {
  border-radius: 4px;
  cursor: pointer;
}

.box:hover,
.box:focus {
  box-sizing: border-box;
  offset: 0px 4px;
  stroke: var(--black-color solid 1px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-list-input:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.button-list-input:focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.button-list {
  display: flex;
  list-style: none;
  gap: 8px;
  padding-right: 8px;
  margin: 0px 303px 50px 285px;
}
.button-list-input {
  padding: 6px 22px 6px 22px;
  width: 121px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
}
.button-list :focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
  outline: none;
}

.address-logo span,
.navigation-logo span {
  color: var(--blue-color);
}

.address-logo,
.navigation-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  width: 145px;
}

.products-list-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
}

.products-list-span {
  color: var(--light-grey-color);
  line-height: 1.87;
  font-size: 16px;
}

.products-list-item {
  padding: 20px 24px 20px 24px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0px;
}
