:root {
  --main-color: #212121;
  --blue-color: #2196f3;
  --gray-color: rgba(255, 255, 255, 0.6);
  --dark-gray-color: #2f303a;
  --white-color: #f5f4fa;
  --pure-white-color: #fff;
  --light-grey-color: rgba(117, 117, 117, 1);
  --border-color: rgba(236, 236, 236, 1);
}

body {
  background-color: var(--pure-white-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

.page {
  justify-content: center;
  width: 1600px;
  height: 2349px;
  margin: 0 auto;
}

.page a:focus {
  outline: none;
}

.navigation {
  display: flex;
  height: 80px;
  width: 1600px;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: var(--blue-color);
  outline: none;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 46px;
  border-radius: 4px;
  width: 200px;
  border: 0px;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.title-solutions {
  color: var(--pure-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  width: 1600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding: 200px 452px 0px 452px;
}

.order-button {
  color: var(--pure-white-color);
  background-color: var(--blue-color);
  margin: 30px 700px 200px 700px;
  height: 50px;
  width: 200px;

  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.banner-list {
  display: flex;
  gap: 30px;
  margin: 94px 215px 0px 215px;
  background-color: var(--pure-white-color);
  list-style: none;
}

.banner {
  background-color: var(--dark-gray-color);
  width: 1600px;
  height: 600px;
}

.our-job {
  background-color: var(--pure-white-color);
}

.our-job-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0px 215px 94px 215px;
}

.team {
  background-color: var(--white-color);
}

.team-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0px 215px 94px 215px;
}

.address-bottom {
  background-color: var(--dark-gray-color);
  color: var(--pure-white-color);
  width: 1600px;
  height: 252px;
  font-size: 14px;
  left: 0px;
  top: 2097px;
}

.our-job-title {
  color: var(--main-color);

  padding: 94px 624px 50px 624px;
  line-height: 1.17;
  font-size: 36px;
  font-weight: 700;
}

.team-title {
  color: var(--main-color);
  padding: 94px 695px 50px 695px;
  font-size: 36px;
  font-weight: 700;
}

.products-list {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: var(--main-color);
}
.address-bottom a {
  color: var(--pure-white-color);
  text-decoration: none;
}
.page a:visited {
  color: none;
}

.button-list-input:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.button-list-input:focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.address-link-phone-mail a {
  color: var(--gray-color);
  line-height: 1.17;
  list-style: none;
  font-size: 14px;
  gap: 9px;
}

.address-link-phone-mail {
  list-style: none;
}

.address-link-phone-mail a:focus,
.address-link-phone-mail a:hover {
  color: var(--blue-color);
}

.link-phone-mail a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
}
.link-phone-mail {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 32px 227px 32px 371px;
}
.link-phone-mail a:focus,
.link-phone-mail a:hover {
  color: var(--blue-color);
}

.button-list {
  display: flex;
  height: 50px;
  width: 200px;
  list-style: none;
  font-weight: 500;
}
.button-list :focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
  outline: none;
}

.address-logo span,
.navigation-logo span {
  color: var(--blue-color);
}

.address-logo,
.navigation-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  width: 145px;

  height: 31px;
}
.address-logo {
  top: 2157px;
  margin: 60px 140px 161px 215px;
}
.navigation-logo {
  top: 24px;
  margin: 24px 93px 25px 215px;
}

.products-list-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
}

.team-list-title {
  line-height: 1.17;
  font-weight: 500;
  font-size: 16px;
}
.banner-list-title {
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
}

.banner-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.71;
  font-size: 14px;
}

.products-list-span {
  color: var(--light-grey-color);
  line-height: 1.87;
  font-size: 16px;
}

.team-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.17;
  font-size: 16px;
}
