:root {
  --main-color: #212121;
  --blue-color: #2196f3;
  --gray-color: rgba(255, 255, 255, 0.6);
  --dark-gray-color: #2f303a;
  --white-color: #f5f4fa;
  --pure-white-color: #fff;
  --light-grey-color: rgba(117, 117, 117, 1);
  --border-color: rgba(236, 236, 236, 1);
  --button-color: rgba(245, 244, 250, 1);
}

body {
  background-color: var(--pure-white-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
}
.page {
  justify-content: center;
  width: 1600px;
  margin: 0 auto;
}
.container {
  width: 1200px;
  padding: 0px 215px 0px 215px;
}
.page a:focus {
  outline: none;
}

.navigation {
  display: flex;
  align-items: center;
}
.container-navigation {
  width: 1600px;
  border-bottom: 1px solid var(--border-color);
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: var(--blue-color);
  outline: none;
}
.navigation-list {
  display: flex;
  list-style: none;
  gap: 46px;
  border: 0px;
  line-height: 1.17;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 0px;
}
section {
}

.title-solutions {
  color: var(--pure-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: 0px 237px;
  padding-top: 200px;
}

.order-button {
  color: var(--pure-white-color);
  background-color: var(--blue-color);
  margin: 30px 485px 200px 485px;
  padding: 10px 41px 10px 41px;
  width: 200px;

  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.banner-description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.banner-list {
  display: flex;
  padding-left: 215px;
  gap: 30px;
  background-color: var(--pure-white-color);
  list-style: none;
}

.banner {
  background-color: var(--dark-gray-color);
  width: 1600px;

  padding-bottom: 94px;
}

.our-job {
  background-color: var(--pure-white-color);

  padding-bottom: 94px;
}

.our-job-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}

.team {
  background-color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}

.address-bottom {
  background-color: var(--dark-gray-color);
  color: var(--pure-white-color);
  padding: 60px 0px 60px 0px;

  font-size: 14px;
}

.our-job-title {
  color: var(--main-color);
  margin: 0px 409px 50px 409px;
  line-height: 1.17;
  font-size: 36px;
  font-weight: 700;
}

.team-title {
  color: var(--main-color);
  margin: 0px 480px 50px 480px;
  font-size: 36px;
  font-weight: 700;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 30px 0px 30px;
  gap: 30px;

  list-style: none;
}
.navigation a {
  text-decoration: none;
  color: var(--main-color);
}
.address-bottom a {
  color: var(--pure-white-color);
  text-decoration: none;
}
.page a:visited {
  color: none;
}

.button-list-input:hover {
  cursor: pointer;
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.button-list-input:focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
}

.address-link-phone-mail a {
  color: var(--gray-color);
  line-height: 1.17;
  list-style: none;

  font-size: 14px;
}

.address-link-phone-mail {
  list-style: none;
  gap: 9px;
  flex-direction: column;
  display: flex;
  padding-left: 0px;
}

.address-link-phone-mail a:focus,
.address-link-phone-mail a:hover {
  color: var(--blue-color);
}

.link-phone-mail a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
}
.link-phone-mail {
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 32px 227px 32px 371px;
}
.link-phone-mail a:focus,
.link-phone-mail a:hover {
  color: var(--blue-color);
}

.button-list {
  display: flex;
  list-style: none;
  gap: 8px;
  padding-right: 8px;
  margin: 0px 303px 50px 285px;
}
.button-list-input {
  padding: 6px 22px 6px 22px;
  width: 121px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
}
.button-list :focus {
  background-color: var(--blue-color);
  color: var(--pure-white-color);
  outline: none;
}

.address-logo span,
.navigation-logo span {
  color: var(--blue-color);
}

.address-logo,
.navigation-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  width: 145px;
}
.address-logo {
  margin: 60px 1240px 161px 0px;
}
.navigation-logo {
  margin: 24px 93px 25px 0px;
}

.products-list-title {
  font-weight: 700;
  line-height: 2;
  font-size: 18px;
}

.team-list-title {
  line-height: 1.17;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.banner-list-title {
  line-height: 1.17;
  font-weight: 700;
  font-size: 14px;
}

.banner-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.71;
  font-size: 14px;
}

.products {
  padding-bottom: 94px;
  padding-top: 94px;
}
.products-list-span {
  color: var(--light-grey-color);
  line-height: 1.87;
  font-size: 16px;
}

.address-bottom-span {
  gap: 20px;
}

.team-list-paragraf {
  color: var(--light-grey-color);
  line-height: 1.17;
  font-size: 16px;
  text-align: center;
}
.products-list-item {
  padding: 20px 24px 20px 24px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0px;
}
